/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

h2{
    font-weight:bold;
}
.container {
    width: 800px;
    margin: 0 auto;
    
}
.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
    
}
.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
    
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
}

footer nav a {
    color: white;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color:black;
    padding: 27px;
    
    
    

}
.img{
    width: 150px;
    padding:10px;
}
.section-container{
    display:flex;
    justify-content: flex-end ;
    margin: -30px 0 0 0;
}
.top-links{
    width: 550px;
}
.top-bannerlinks{
    padding: 20px;
    margin-bottom:20px;
}

.strategy-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.strategy-text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin:2% 34% 0 2%;
}

.strategy-subtext{
    display: flex;
    flex-wrap: wrap;
    padding:2%;
    justify-content: space-evenly;
    width:50%;
    flex-direction: row;
    
}
.strategy-subtext2{
    display: flex;
    flex-direction: row;
    padding:2%;
    width:50%;
    margin:-98px 0 0 370px;
    
}

.subtext-container{
    border-bottom:1px dashed black; 
    margin-bottom:30px;

}

.container-about-page{
    padding:25px;
}

.learn-strategy{
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    height:4vh;
    border:2px solid black;
    border-radius:10px;
    
   
}

.learn-strategy2{
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    height:4vh;
    border:2px solid black;
    border-radius:10px;
    margin:-40px 0 20px 370px;
    
   
}
.learn{
    border-bottom:1px dashed black;
    margin:0 0 20px 0;
}

.strategy-subtext3{
    margin:0 0 30px 0;
}